@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Dana";
    font-display: swap;
    src: url("/fonts/DanaFaNum-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Dana Bold";
    font-display: swap;
    src: url("/fonts/DanaFaNum-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Morabba";
    font-display: swap;
    src: url("/fonts/Morabba-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Morabba Bold";
    font-display: swap;
    src: url("/fonts/Morabba-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Morabba Heavy";
    font-display: swap;
    src: url("/fonts/Morabba-Heavy.woff2") format("woff2");
  }
}
@utility container {
  @apply px-27.5 mx-auto
}

@theme {
  --color-primary : #F69946;
  --color-secondary : #FCF9F4;
  --color-dark-primary : #564741;
  --color-dark-secondary : #616161;

  --font-dana : "Dana";
  --font-danaBold : "Dana Bold";
  --font-Morabba : "Morabba";
  --font-MorabbaBold : "Morabba Bold";
  --font-MorabbaHeavy : "Morabba Heavy";

}

@layer components {
  body {
    direction: rtl;
  }
  .flex-center {
    @apply flex items-center justify-center
  }
  .head-title {
    @apply font-danaBold px-3 py-1 bg-white text-primary rounded-lg shadow w-max
  }
  .btn {
    @apply px-6 py-2 text-white rounded-lg cursor-pointer transition-colors duration-300 flex items-center justify-center gap-3 w-max
  }
  .btn-xl {
    @apply px-6.5 py-3.5 
  }
  .btn-primary {
    @apply bg-primary hover:bg-dark-primary 
  }
  .btn-secondary {
    @apply bg-dark-primary hover:bg-primary
  }
  .top-image__vector--2 {
    --animate-duration: 20s;
  }
  .top-image__vector--3 {
    --animate-duration: 20s;
  }



}
