@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  @font-face {
    font-family: "Dana";
    font-display: swap;
    src: url("/fonts/DanaFaNum-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Dana Bold";
    font-display: swap;
    src: url("/fonts/DanaFaNum-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Morabba";
    font-display: swap;
    src: url("/fonts/Morabba-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Morabba Bold";
    font-display: swap;
    src: url("/fonts/Morabba-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Morabba Heavy";
    font-display: swap;
    src: url("/fonts/Morabba-Heavy.woff2") format("woff2");
  }
}
@utility container {
  @apply px-5 xl:px-27.5 mx-auto;
}
@theme {
  --color-primary: #f69946;
  --color-secondary: #fcf9f3;
  --color-dark-primary: #564741;
  --color-dark-secondary: #616161;
  --color-footer: #3a3330;

  --shadow-primary: 0px 5px 40px -20px;
  --shadow-normal: 0px 2px 50px 0px #2424240d;

  --font-dana: "Dana";
  --font-danaBold: "Dana Bold";
  --font-Morabba: "Morabba";
  --font-MorabbaBold: "Morabba Bold";
  --font-MorabbaHeavy: "Morabba Heavy";

  --breakpoint-4xs: 350px;
  --breakpoint-3xs: 400px;
  --breakpoint-2xs: 480px;
  --breakpoint-xs: 530px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
@layer components {
  /* { -- background images -- } */
  .bg__our-advantages--first {
    background-image: url("/images/main-page-pic-3.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg__our-advantages--second {
    background-image: url("/images/main-page-pic-2.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .bg__footer {
    background-image: url("/images/about-img11.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .bg__reservation {
    background-image: url("/images/reservation-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
  }
  /* { -- global -- } */
  body {
    direction: rtl;
  }

  /* ╔══════════════════════════════╗ */
  /* ║        helper Classes        ║ */
  /* ╚══════════════════════════════╝ */
  .flex-center {
    @apply flex items-center justify-center;
  }
  .dir-rtl {
    direction: rtl;
  }
  .dir-ltr {
    direction: ltr;
  }
  .hide {
    @apply invisible opacity-0;
  }
  .show {
    @apply !visible !opacity-100;
  }

  /* ╔══════════════════════════════╗ */
  /* ║          Components          ║ */
  /* ╚══════════════════════════════╝ */

  /* ------ { ... All Pages ... } ------ */
  /* buttons */
  .btn {
    @apply px-6 py-2 text-white rounded-lg cursor-pointer transition-colors duration-300 flex items-center justify-center gap-3 w-max;
  }
  .btn-sm {
    @apply px-4 py-2.5 text-sm;
  }
  .btn-xs {
    @apply text-xs px-2.5 py-1.5 rounded-md;
  }
  .btn-xl {
    @apply px-6.5 py-3.5;
  }
  .btn-primary {
    @apply bg-primary hover:bg-dark-primary;
  }
  .btn-secondary {
    @apply bg-dark-primary hover:bg-primary;
  }
  .btn-primary--light {
    @apply bg-white hover:text-white hover:bg-primary text-dark-primary;
  }
  .btn-outline {
    @apply bg-transparent border border-primary hover:bg-primary/10 text-primary;
  }
  /* label */
  .label {
    @apply inline-block font-danaBold text-sm mb-2 md:mb-3;
  }
  .text_input {
    @apply w-full h-13 placeholder:text-slate-500 text-gray-900 bg-white text-sm py-3.5 pr-3.5 pl-13 rounded outline-none;
  }
  .textarea_input {
    @apply w-full min-h-30 placeholder:text-slate-500 text-gray-900 bg-white text-sm p-3.5 outline-none rounded;
  }
  .select_input {
    @apply w-full h-13 text-slate-500 bg-white text-sm p-3.5 border-l-[14px] border-l-transparent rounded outline-none;
  }
  /* overlay */
  .mobile-overlay {
    @apply z-40 fixed w-full h-screen bg-black/50 inset-0 invisible opacity-0;
  }

  /* Mobile Navbar */
  .navigation::-webkit-scrollbar {
    width: 5px;
  }
  .menu-active {
    @apply !right-0;
  }
  .mobile-menu {
    @apply flex w-full flex-col gap-y-1;
  }
  .mobile-menu__item {
    @apply py-1 text-sm/6;
  }
  .mobile-menu__wrapper {
    @apply flex select-none items-center justify-between;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  /* footer */
  .footer__box {
    @apply flex flex-col md:flex-row items-center justify-center text-center gap-1 md:gap-3 w-32 sm:w-50;
  }
  .footer__box--title {
    @apply font-MorabbaBold mb-1 text-sm md:text-base;
  }
  .footer__box--sub_title {
    @apply text-xs md:text-sm font-danaBold opacity-80 text-center md:text-start;
  }

  /* ------ { ... Home Page Component ... } ------ */
  /* title */
  .title {
    @apply font-MorabbaBold text-2xl/10 2xs:text-4xl/14 text-dark-primary max-w-[427px];
  }
  .title-desc {
    @apply text-dark-secondary max-w-[620px] text-sm/6 2xs:text-base/8 line-clamp-3;
  }
  .head-title {
    @apply font-danaBold px-3 py-1 bg-white text-primary rounded-lg  w-max shadow-md;
  }
  /* box */
  .trust-us__box {
    @apply bg-white/15 flex items-center justify-center flex-col size-full rounded-xl text-white py-6;
  }
  .trust-us__box--num {
    @apply font-danaBold text-3xl md:text-4xl xl:text-5xl;
  }
  .trust-us__box--title {
    @apply font-Morabba text-base md:text-xl xl:text-2xl;
  }

  /* ------ { ... Store Page Component ... } ------ */
  /* toggle */
  .toggle {
    @apply relative cursor-pointer select-none;
  }
  .toggle__marker {
    @apply relative block h-6 w-11.5 rounded-full bg-[#e5e7eb] transition-colors;
  }
  .toggle__marker:after {
    @apply absolute top-0 bottom-0 right-1 my-auto h-4 w-4 rounded-full bg-white transition-all content-[""];
  }
  .toggle__input {
    @apply absolute h-0 w-0 opacity-0;
  }
  .toggle__input:checked ~ .toggle__marker {
    @apply bg-primary;
  }
  .toggle__input:checked ~ .toggle__marker:after {
    @apply right-[26px];
  }
  /* check box */
  .checkbox__input::after {
    @apply relative block w-2.75 h-2.75 border border-[#808080] content-[""] bg-white;
  }
  .checkbox__input::before {
    @apply relative block left-0.5 -top-2.75 w-1.75 h-1.75 border border-y-[#b3b3b3] border-x-[#dcddde] content-[""]
            bg-linear-[135deg] from-[#b1b6be] to-white bg-no-repeat bg-center;
  }
  .checkbox {
    @apply relative flex cursor-pointer items-center select-none gap-x-2;
  }
  .checkbox__marker {
    @apply block size-4 shrink-0 bg-gray-200 rounded-sm transition-colors;
  }
  .checkbox__input:checked ~ .checkbox__marker {
    @apply bg-primary;
  }
  /* toggle and check box */
  .toggle__input,
  .checkbox__input {
    @apply absolute size-0 opacity-0;
  }
  /* sort */
  .sort-btn {
    @apply inline-block border-y-2 border-transparent font-danaBold text-sm leading-[64px] transition-all text-dark-primary cursor-pointer;
  }
  .sort-btn--active {
    @apply border-primary text-primary;
  }
  /* filter */
  /* .filter {
    @apply invisible fixed inset-0 z-50 flex h-full w-full flex-col overflow-y-auto bg-white opacity-0 transition-colors;
  }
  .filter__header {
    @apply flex h-16 shrink-0 items-center justify-between bg-[#f3f4f6] px-5;
  }
  .filter__clean-btn,
  .filter__head-title {
    @apply flex items-center;
  }
  .filter__head-title {
    @apply gap-x-2;
    -moz-column-gap: 0.5rem;
  }
  .filter__clean-btn {
    @apply gap-x-1.5 text-[#db2e34];
    -moz-column-gap: 0.375rem;
  }
  .filter__footer {
    @apply flex h-full items-end mt-6 pb-8 px-5;
  }
  .filter--open {
    @apply visible opacity-100;
  } */
  /* breadcrumb */
  .breadcrumb {
    @apply h-13 items-center overflow-x-auto overflow-y-hidden text-black rounded-xl flex;
  }
  .breadcrumb::-webkit-scrollbar {
    @apply hidden;
  }
  .breadcrumb__item {
    @apply relative flex h-full shrink-0 items-center;
  }
  .breadcrumb__item:last-child {
    @apply text-primary;
  }
  .breadcrumb-icon {
    @apply size-4 mx-3 rotate-90;
  }
  .breadcrumb__item:last-child .breadcrumb-icon {
    @apply hidden;
  }
  .breadcrumb__link {
    @apply whitespace-nowrap;
  }
  /* ------ { ... Auth Page Component ... } ------ */
  /* otp  */
  .otp__form input {
    @apply size-13 p-0 text-center font-danaBold text-xl leading-[2.125rem];
  }

  /* { -- css library -- } */
  .top-image__vector--2 {
    --animate-duration: 10s;
  }
  .top-image__vector--3 {
    --animate-duration: 10s;
  }
}

:root {
  --sidebar: hsl(0, 0%, 100%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
:root {

  body[data-scroll-locked][data-scroll-locked] {
    overflow: auto !important;
  }
  body[data-scroll-locked] {
    margin-right: 0 !important;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

